*p{
    margin:0px !important
}
.blog-container{
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
}
.blog-content{
    margin-top: 20px;
    letter-spacing: -0.003em;
    line-height: 32px;
    font-size: 20px;
}
.blog-author{
    font-size: 14px;
    font-weight: 700;
    color:#888;
    margin-left: 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.blog-date{
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}
.blog-title{
    line-height: 52px;
    font-size: 42px;
    font-weight: 700;
}
.three-dots-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  /* Hide the dropdown by default */
  .dropdown {
    /* display: none; */
  }
  
  /* Show the dropdown when the three-dot menu button is clicked */
  .show-dropdown .dropdown {
    display: block;
  }
.blog-author{
    font-size: 14px;
}
.blog-card-content-div{
    display: flex;

}
.blog-card-img{
    height: 112px;
    width: 112px;
}
.blog-card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.blog-card-content{
    margin-top: 20px;
    line-height: 24px;
    font-size: 16px;
}
.blog-card-author{
   display: flex;
   align-items: center;

}
.follow{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;

}
.content-wrapper{
    width: 70%;
}
.author-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.author-section{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.blog-topic{
    font-size: 14px;
    color: white;
    background-color: #000;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left:10px
}
.comment-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}
.comment{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
}
.comment-text{
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin-top: 5px;
}
.blog-like-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.like-count{
    font-size: 16px;
    margin-left: 10px;
}
.like-clap{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.comment-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.comment-btn{
    margin: 10px;
    background-color: #222425;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.comment-input-div{
    display: flex;
    align-items: center;
}

.blog-img{
    width: 611px;
    height: 701px;
}